.container{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
}

.link{
    text-decoration: none;
    font-size: 20px;
    color: var(--color-lead2);
}

.link:hover{

    border-bottom: 5px solid var(--color-sky);
}